.product
  %section.product-details
    .container
      .row.product-intro
        .col-sm-7.col-md-5.keyvisual
          .img-product{style: "background-image: url(#{asset_url('products/feminism-book/details/femi_book_1.png')})"}
        .col-sm-5.col-md-7.information
          .product-title
            페미니스트 선생님이 필요해 도서
          .product-price
            00,000원 / 개당
          .product-subtitle
            페미니스트 선생님과 성평등 교육의 확산을 지지하는 도서
          %a.purchase-topbtn.btn{:href => "https://medium.com/parti-xyz-developers", :target => "_blank"} 구매하기
      .product-description
        .first-content
          = image_tag "products/feminism-book/details/femi_book_2.jpg", class: 'img-responsive horizontal-visual'
          이 책은 페미니스트 선생님들을 지지, 응원하고
          %br
          교육 현장에서 성평등 교육이 더 많이 확산되길 바라는 마음으로 기획되었습니다.
          %br
          저자들은 페미니스트 교사, 페미니즘 연구자, 작가, 기자이며,
          %br
          '#우리에겐_페미니스트_선생님이_필요합니다' 해시태그 운동에 참여했던 시민들이 함께했습니다.
        .content
          = image_tag "products/feminism-book/details/femischool_1.png", class: 'img-responsive horizontal-visual'
          닷페이스, 한국사이버성폭력대응센터, 빠띠, 우주당은
          %a.content-link{href:'http://wouldyouparty.govcraft.org/petitions/54',target:'_blank'}
            가브크래프트
          를 통해
          %br
          교내 페미니즘 교육 보장과 페미니스트 선생님에 대한 공격을 멈추어 달라는 서명을 받으며
          %br
          '#우리에겐_페미니스트_선생님이 필요합니다' 해시태그 운동과 캠페인을 시작했습니다.
        .content
          %br
          관련 운동의 캠페인 내용은 해시태그 캠페인 참여자들이 기자회견에 사용한
          %br
          %a.content-link{href:'http://wouldyouparty.govcraft.org/petitions/54',target:'_blank'}
            피켓 페이지
          에서 더 확인하실 수 있습니다.
        .last-content
          %br
          본 책은 온/오프라인 서점에서 구매하실 수 있습니다.

        %a.purchase-bottombtn.btn{:href => "https://medium.com/parti-xyz-developers", :target => "_blank"} 구매하기
