.product
  %section.product-details
    .container
      .row.product-intro
        .col-sm-6.keyvisual
          .img-product{style: "background-image: url(#{asset_url('products/wouldyou-stickertrans/details/wouldyou_sticker_wh.png')})"}
        .col-sm-6.information
          .product-title
            우주당 스티커 (화이트)
          -# .product-price
          -#   00,000원 / 개당
          .product-subtitle
            %br
            직접 민주주의 프로젝트 정당 우주당 로고 스티커
          %a.purchase-topbtn.btn{:href => "http://smartstore.naver.com/partiunion/products/2548798746", :target => "_blank"} 구매하기
      .product-description
        .first-content
          = image_tag "products/wouldyou-stickertrans/details/wouldyou_sticker_wh.png", class: 'img-responsive horizontal-visual'
          정당 중심, 특정 인물 중심의 정치만 존재하지 않도록,
          %br
          더 쉽고 재미있고 실용적인 ‘우리’의 정치를 할 수 있는 프로젝트를
          %br
          진행 중인 우주당의 로고 스티커입니다.
        .content
          이 투명지 배경에 하얀색으로 우주당 로고가 박힌 스티커는,
          %br
          검은색 배경이나 유리, 거울 같은 투명한 것에 부착시켜도 예쁘답니다.
        .content
          = image_tag "products/wouldyou-stickerblack/details/wouldyou_pirat.png", class: 'img-responsive horizontal-visual'
          우주당은 ‘우리가 주인이당'의 줄임말이며, 정치 활동에 영감을 주는 해적당의 로고를 따왔습니다.
          %br
          영문으로는 정치해보기를 권하는, Would - you - party 를 사용하고 있습니다.
        .content
          %br
          우주당이 더 궁금하시다면
          %a.content-link{href:'http://wouldyouparty.govcraft.org/',target:'_blank'}
            우주당 사이트
          ,
          %a.content-link{href:'http://slack.wouldyouparty.org/',target:'_blank'}
            슬랙
          ,
          %a.content-link{href:'https://www.facebook.com/wouldyouparty.org/',target:'_blank'}
            페이스북
          에서 확인해보세요.
        .last-content
          %br
          사이즈 : 원형 60x60 (mm) / 1장 당 스티커 1개

        %a.purchase-bottombtn.btn{:href => "http://smartstore.naver.com/partiunion/products/2548798746", :target => "_blank"} 구매하기
