.product
  %section.product-details
    .container
      .row.product-intro
        .col-sm-7.col-md-5.keyvisual
          .img-product{style: "background-image: url(#{asset_url('products/wouldyou-tee/details/wouldyou_tee.png')})"}
        .col-sm-5.col-md-7.information
          .product-title
            우주당 맨투맨 티셔츠
          .product-price
            00,000원 / 개당
          .product-subtitle
            직접 민주주의 프로젝트 정당 우주당의 로고 티셔츠
          %a.purchase-topbtn.btn{:href => "https://medium.com/parti-xyz-developers", :target => "_blank"} 구매하기
      .product-description
        .first-content
          = image_tag "products/wouldyou-tee/details/wouldyou_tee.png", class: 'img-responsive horizontal-visual'
          정당 중심, 특정 인물 중심의 정치만 존재하지 않도록,
          %br
          더 쉽고 재미있고 실용적인 ‘우리’의 정치를 할 수 있는 프로젝트를 진행 중인
          %br
          우주당의 공식 티셔츠입니다.
        .content
          = image_tag "products/wouldyou-tee/details/wouldyou_pirat.png", class: 'img-responsive horizontal-visual'
          우주당은 '우리가 주인이당'의 줄임말이며, 정치 활동에 영감을 주는 해적당의 로고를 따왔습니다.
          %br
          영문으로는 정치해보기를 권하는, Would - you - party 를 사용하고 있습니다.
        .content
          = image_tag "products/wouldyou-tee/details/1.png", class: 'img-responsive horizontal-visual'
          2017년 미래혁신포럼에서 아이슬란드 해적당 대표 바르기타 욘스도티르에게도
          %br
          우주당 티셔츠를 기념으로 선물하고 함께 이야기를 나눴습니다.
          %br
          더불어 참여한 g0v, 체인지퓨전 등 같은 아시아 정치 팀들도
          %br
          우주당의 위트있는 로고를 알아봐주었어요.
        .content
          %br
          우주당이 더 궁금하시다면
          %a.content-link{href:'http://wouldyouparty.govcraft.org/',target:'_blank'}
            우주당 사이트
          ,
          %a.content-link{href:'http://slack.wouldyouparty.org/',target:'_blank'}
            슬랙
          ,
          %a.content-link{href:'https://www.facebook.com/wouldyouparty.org/',target:'_blank'}
            페이스북
          ,에서 확인해보세요.
        .last-content
          %br
          사이즈: S(85), M(90), L(100), XL(105), 2XL(110), 3XL(115)

        %a.purchase-bottombtn.btn{:href => "https://medium.com/parti-xyz-developers", :target => "_blank"} 구매하기
