.product
  %section.product-details
    .container
      .row.product-intro
        .col-sm-7.col-md-5.keyvisual
          .img-product{style: "background-image: url(#{asset_url('products/wouldyou-stickerblack/details/wouldyou_sticker_2.png')})"}
        .col-sm-5.col-md-7.information
          .product-title
            우주당 스티커 (블랙)
          .product-price
            00,000원 / 개당
          .product-subtitle
            직접 민주주의 프로젝트 정당 우주당 로고 스티커
          %a.purchase-topbtn.btn{:href => "https://medium.com/parti-xyz-developers", :target => "_blank"} 구매하기
      .product-description
        .first-content
          = image_tag "products/wouldyou-stickerblack/details/wouldyou_sticker_1.png", class: 'img-responsive horizontal-visual'
          정당 중심, 특정 인물 중심의 정치만 존재하지 않도록,
          %br
          더 쉽고 재미있고 실용적인 ‘우리’의 정치를 할 수 있는 프로젝트를
          %br
          진행 중인 우주당의 로고 스티커입니다.
        .content
          = image_tag "products/wouldyou-stickerblack/details/wouldyou_sticker_2.png", class: 'img-responsive horizontal-visual'
          무한한 우주같은 타원형의 블랙 색상의 스티커는 특히 랩탑에 붙이면 멋지답니다!
          %br
          랩탑이 아니더라도 내가 가장 자주 들고 다니는 물건에 부착해보세요.
          %br
          어디선가 같은 스티커를 붙인 친구를 만날지도 몰라요!
        .content
          = image_tag "products/wouldyou-stickerblack/details/wouldyou_pirat.png", class: 'img-responsive horizontal-visual'
          우주당은 ‘우리가 주인이당'의 줄임말이며, 정치 활동에 영감을 주는 해적당의 로고를 따왔습니다.
          %br
          영문으로는 정치해보기를 권하는, Would - you - party 를 사용하고 있습니다.
          %br
          어디선가 같은 스티커를 붙인 친구를 만날지도 몰라요!
        .content
          %br
          우주당이 더 궁금하시다면
          %a.content-link{href:'http://wouldyouparty.govcraft.org/',target:'_blank'}
            우주당 사이트
          ,
          %a.content-link{href:'http://slack.wouldyouparty.org/',target:'_blank'}
            슬랙
          ,
          %a.content-link{href:'https://www.facebook.com/wouldyouparty.org/',target:'_blank'}
            페이스북
          ,에서 확인해보세요.
        .last-content
          %br
          사이즈 : 1장 당 타원형 55x45 (mm) 스티커 2개

        %a.purchase-bottombtn.btn{:href => "https://medium.com/parti-xyz-developers", :target => "_blank"} 구매하기
