#page-contents
  .header
    .container.bloc-sm
      %p.text-center.about-text
        빠띠는 민주주의를 일상에 적용할 수 있는
        %br.visible-xs
        컨텐츠를 만듭니다.
  .bloc.bgc-white.l-bloc
    .container.bloc-sm
      .row.voffset-md
        .col-xs-12.col-md-8.col-md-offset-2
          %h3.statement-bloc-text.mg-clear.tc-outer-space
            %span 가이드
          .introduce-box
            %p.text-center.introduce-text
              %strong<>조직 내 민주주의 가이드
          .introduce-box
            %a{:href => "https://union.parti.xyz/file_source/2866/download"}
              %p.text-center.introduce-text
                %strong<>이슈 커뮤니티 가이드
          .introduce-box
            %p.text-center.introduce-text
              %strong<>DIY 당 만들기 가이드
          .more-article-box.text-center
            %a{:href => "http://demos-wiki.partiunion.org/", :target => "_blank"}
              .more-article-text
                가이드 더 보기
  #bloc.bgc-anti-flash-white.l-bloc
    .container.bloc-sm
      .row.voffset-md
        .col-xs-12.col-md-8.col-md-offset-2
          %h3.statement-bloc-text.mg-clear.tc-outer-space
            %span 블로그
          .row
            .col-xs-6
              %p.text-center.introduce-text
                %strong<>브런치
            .col-xs-6
              %a{:href => "https://medium.com/parti-xyz-developers"}
                %p.text-center.introduce-text
                  %strong<>미디엄

  .bloc.bgc-white.l-bloc
    .container.bloc-sm
      .row.voffset-md
        .col-xs-12.col-md-8.col-md-offset-2
          %h3.statement-bloc-text.mg-clear.tc-outer-space
            %span 민주주의 리포트
          %p.mg-sm.text-center
            %strong<>개인의 목소리가 들리지 않는 일상
            %br
            반민주적이거나 반인권적인 문화에 대한
            %br.visible-xs
            개인의 목소리가 존재하지만 들리지 않습니다.
