/ bloc-8
#bloc-8.bloc.bloc-bg-texture.texture-darken.bgc-white.tc-white.platform-wouldyou{ style: "background-image: url(#{asset_url('platform-wouldyou-detail-background.png')})" }
  .container.bloc-lg
    .row
      .col-sm-6
        = image_tag "platform-wouldyou-detail1.png", class: 'img-responsive device-bloc-icon'
        %h2.mg-md.device-bloc-text
          우주당
        %p.mg-lg.device-bloc-text-p
          디지털 직접 민주주의 프로젝트 정당
        %a.btn.btn-wire.btn-lg.device-bloc-button.btn-sq.wire-btn-white{:href => "http://wouldyouparty.org/", :target => "_blank"} 우주당으로 가기
      .col-sm-6
        .center-block.blocsapp-device.blocsapp-device-imac
          = image_tag "platform-wouldyou-detail2.png", class: 'img-responsive'

/ bloc-8 END
/ bloc-9
#bloc-9.bloc.bgc-white.l-bloc.paltform-detail
  .container.bloc-md
    .row
      .col-sm-12
        %h3.mg-md
          우리가 주인이당! Would You Party?
        %p
          우주당은 시민들이 자발적으로 만드는 시민들의 정치 놀이터입니다.
          %br
          직접 민주주의 방식에 기반하여 시민이 주도하는 새로운 정치 문화를 함께 만들어 갑니다.
/ bloc-9 END
