/ bloc-8
#bloc-8.bloc.bloc-bg-texture.texture-darken.bgc-white.tc-white.platform-wouldyou{ style: "background-image: url(#{asset_url('platform-wouldyou-detail-background.png')})" }
  .container.bloc-lg
    .row
      .col-sm-6
        = image_tag "platform-wouldyou-detail1.png", class: 'img-responsive device-bloc-icon'
        %h2.mg-md.device-bloc-text
          우주당
        %p.mg-lg.device-bloc-text-p
          디지털 직접 민주주의 프로젝트 정당
        %a.btn.btn-wire.btn-lg.device-bloc-button.btn-sq.wire-btn-white{:href => "http://wouldyouparty.org/", :target => "_blank"} 우주당으로 가기
      .col-sm-6
        .center-block.blocsapp-device.blocsapp-device-imac
          = image_tag "platform-wouldyou-detail2.png", class: 'img-responsive'

/ bloc-8 END
/ bloc-9
#bloc-9.bloc.bgc-white.l-bloc.paltform-detail
  .container.bloc-lg
    .row
      .col-sm-12
        %h3.mg-md
          Heading content
        %p
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
/ bloc-9 END
