%a{class: 'anchor', id: 'anchor-about'}
#bloc-2.bloc.bloc-bg-texture.texture-darken.tc-anti-flash-white.bgc-white.about-slogan{ style: "background-image: url(#{asset_url('about-slogan-background.jpg')})" }
  .container.bloc-lg
    .row
      .col-sm-12
        %p.device-bloc-text-p.text-center
          누구나 쉽고 즐겁게 참여하는 정치 모델을 만듭니다

#bloc-3.bloc.bgc-outer-space.d-bloc
  .container.bloc-md
    .row
      = link_to root_path(anchor: 'anchor-campaign') do
        .col-sm-4
          %h3.text-center.mg-clear
            캠페인
          %p.text-center
            시민들이 쉽고 재미있게
            %br
            정치에 참여하는 캠페인을 진행합니다.
      = link_to root_path(anchor: 'anchor-platform') do
        .col-sm-4
          %h3.text-center.mg-clear
            플랫폼
          %p.text-center
            기술을 활용해
            %br
            더 나은 민주주의를 위한 플랫폼을 만듭니다.
      = link_to root_path(anchor: 'anchor-collaboration') do
        .col-sm-4
          %h3.text-center.mg-clear
            협업
          %p.text-center
            다양한 이해당사자들과
            %br
            협업하여 문제를 해결합니다


