%a{class: 'anchor', id: 'anchor-about'}
.bloc.bloc-bg-texture.texture-darken.tc-anti-flash-white.bgc-white.about-slogan{ style: "background-image: url(#{asset_url('about-slogan-background.jpg')})" }
  .container.bloc-md
    .row
      .col-sm-12
        %h2.mg-md.device-bloc-text.tc-white
          %i
            우리에게는
            %br.visible-xs
            더 많은 민주주의가
            %br.visible-xs
            필요합니다.
        %p.mg-lg.device-bloc-text-p
          민주주의 벤처 빠띠는
          %br.visible-xs
          우리 사회 곳곳에
          %br.visible-xs
          민주주의를 확산시키기 위해
          %br.visible-xs
          노력합니다.
        %button{class: 'btn btn-wire btn-lg device-bloc-button btn-sq wire-btn-white', 'data-toggle': "modal", 'data-target': "#subscribe-email"} 빠띠 소식 받아보기

#subscribe-email.modal.fade{:role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &#215;
        .header-title
          이메일구독
      .modal-body
        %form{:action => "https://stibee.com/api/v1.0/lists/8eGeZJ_Ir8_jNilIvX8XV2a6BQ==/public/subscribers", :method => "POST"}
          %p.mg-lg.device-bloc-text-p
            누구나 쉽고 즐겁게 참여하는 정치 모델을 만듭니다
          .email-input
            %label{:for => "email"} 이메일 주소
            %input#email{:name => "email", :type => "text"}/
          %button{class: 'btn btn-wire btn-lg device-bloc-button btn-sq wire-btn-white', :type => "submit"} 새로운 정치 모델 소식 구독하기

#bloc-3.bloc.bgc-outer-space.d-bloc
  .container.bloc-md
    .row
      = link_to root_path(anchor: 'anchor-campaign') do
        .col-sm-4
          %h3.text-center.mg-clear
            캠페인
          %p.text-center
            시민들이 쉽고 재미있게
            %br
            정치에 참여하는 캠페인을 진행합니다.
      = link_to root_path(anchor: 'anchor-platform') do
        .col-sm-4
          %h3.text-center.mg-clear
            플랫폼
          %p.text-center
            기술을 활용해
            %br
            더 나은 민주주의를 위한 플랫폼을 만듭니다.
      .col-sm-4
        %h3.text-center.mg-clear
          협업
        %p.text-center
          다양한 이해당사자들과
          %br
          협업하여 문제를 해결합니다


