%nav.navbar.row
  .navbar-header
    %a.navbar-brand{:href => "index.html"}
      %img{:src => "img/partiunion.png"}/
    %button#nav-toggle.ui-navbar-toggle.navbar-toggle{"data-target" => ".navbar-1", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
  .navbar-collapse.navbar-1.collapse
    %ul.site-navigation.nav.navbar-nav
      %li
        %a{:href => "index.html"} about
      %li
        %a{:href => "index.html"} 협업
      %li
        %a{:href => "index.html"} 플랫폼
      %li
        %a{:href => "index.html"} team
      %li
        %a{:href => "index.html"} contact
