%a{class: 'anchor', id: 'anchor-platform'}

#bloc-49.bloc.bgc-white.l-bloc
  .container.bloc-sm
    .row.voffset-md
      .col-xs-12.col-md-8.col-md-offset-2
        %h3.statement-bloc-text.mg-clear.tc-outer-space
          %span 플랫폼

#bloc-50.bloc.bgc-white.l-bloc
  .container.bloc-md
    .row
      .col-sm-6
        %a{:href => "https://docs.parti.xyz/platform-parti-xyz.html"}
          = image_tag "platforms/platform-parti.png", class: 'img-responsive'
        %h3.mg-sm.tc-outer-space
          %a{:href => "https://docs.parti.xyz/platform-parti-xyz.html"}
            %u 빠띠
          %br/
        %p.mg-lg-xs.mg-lg
          덕업일치를 위한 오픈커뮤니티
      .col-sm-6
        %a{:href => "https://docs.parti.xyz/platform-govcraft.html"}
          = image_tag "platforms/platform-wouldyou.png", class: 'img-responsive'
        %h3.mg-sm.tc-outer-space
          %a{:href => "https://docs.parti.xyz/platform-govcraft.html"}
            %u 우주당 Would You Party
          %br/
        %p.mg-lg
          직접민주주의 프로젝트 정당
