.bloc.tc-white.bloc-bg-texture.texture-darken.bgc-white.subscription{style: "background-image: url(#{asset_url('campaign-footer.png')});"}
  .container.bloc-md
    .row
      .col-sm-12
        %form{:action => "https://stibee.com/api/v1.0/lists/8eGeZJ_Ir8_jNilIvX8XV2a6BQ==/public/subscribers", :method => "POST"}
          %p.mg-lg.device-bloc-text-p
            빠띠의 새로운 정치 모델 소식을 이메일로 받아보세요.
          .email-input
            %label{:for => "email"} 이메일 주소
            %input#email{:name => "email", :type => "text"}/
          %button{class: 'btn btn-wire btn-lg device-bloc-button btn-sq wire-btn-white', :type => "submit"} 구독 신청하기
