#page-english
  .slogan
    .h1
      Platforms for
      %br.visible-xs
      Democratic Life and Culture
  .mission
    .h2
      We can build better democratic systems and culture through IT platforms.
    .h4
      It is difficult to communicate democratically in the context of Asian hierarchy in everyday life. Citizens have difficulty in participating in politics, such as proposing legislation. So Parti wants to make a democratic life and culture.
  .who-we-are
    .photo
    .h2
      We are democracy activists
    .h4
      who create IT platforms, contents, and communities in order to spread democracy throughout the society.
  .platforms
    .h2
      Platforms
    .p
      We create democratic platforms and usage guides needed in society.
    .slide
      .card
      .card
      .card
      .card
  .contents
    .h2
      Contents
    .p
      We share the guide to make it easier to use the platform of parti. Our guide is open source and can be applied to any organization, community. In addition, you can look at the history of parti's democratic activities.
    .box
      Guide for your Democratic Life
    .box
      Blog
  .movement
    .h2
      Movement
    .p
      Collect public opinion on and offline, call for institutional improvement, and create new and interesting political participation.
    .card
  .be-with-us
    .h2
      Be with us
    .h4
      If you support our team's activities, please introduce our activities to your friends.
    .clap
  .contact
    .h2
      Contact Us
    .p
      We work remotely based in Seoul, S.Korea. Please feel free to contact us if you are curious about our activities or if you would like to join us.
    .sns

    .newsletter
      Newsletter in your Inbox
    .subscribe
      Subscribe (Korean)
