#page-about {

  $ash_gray: rgba(182, 182, 182, 1);

  h2 {
    font-weight: 800;
    font-size: 24px;
  }
  h3 {
    font-weight: 600;
    font-size: 18px;
  }
  p {
    font-weight: 400;
    line-height: 24px;
  }

  .header {
    top: 50px;
    left: 0px;
    height: 400px;
    background-color: rgba(182, 182, 182, 1);
    .about-text {
      margin-top: 300px;
      font-family: Noto Serif CJK KR;
    }
  }

  .introduce-box {
    height: 100px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 3px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
    margin: 20px;

    .introduce-text {
      padding-top: 38px;
    }
  }

  //colors
  $color_line: rgba(151, 151, 151, 1);

  .article-box {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid $color_line;
    &.last {
      border-bottom: 1px solid $color_line;
    }
  }

  .more-article-box {
    margin-top: 20px;
    padding-left: 80px;
    padding-right: 80px;
    .more-article-text {
      padding: 10px;
      color: rgba(150, 111, 214, 1);
      border: 1px solid rgba(150, 111, 214, 1);
    }
  }

}

