#footer {

  .footer-container {
    @media (max-width: 767px) {
      .row {
        margin-left: 0;
        margin-right: 0;
        .col-sm-12 {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
  .bgc-footer {
    background-color: rgba(216, 216, 216, 1);
  }

  .social-text {
    color: rgba(256, 256, 256, 0.7);
  }

  .text-white {
    color: rgba(256, 256, 256, 1);
  }
}
