#footer {
  #subscribe-email-modal {
    text-align: center;
    color: #484848;

    .btn {
      margin-top: 22px;
      border-radius: 5px;
    }

    .modal-dialog {
      margin-top: 10%;
      @media (max-width: $screen-xs-max) {
        margin-top: 30%;
      }
    }

    .modal-body {
      padding: 24px;
    }

    .email-guide {
      color: #6b37c1;
      @media (max-width: $screen-xs-max) {
        line-height: 28px;
      }
    }

    .email-input {
      margin-top: 18px;
      @media (max-width: $screen-xs-max) {
        text-align: center;
      }
      label {
        margin-right: 10px;
        color: gray;
      }
      input {
        width: 200px;
        color: black;
        display: inline-block;
      }
    }

    button[type= "submit"] {
      border-radius: 4px;
      padding: 6px 16px;
      color: #fff;
      background-color: #6b37c1 !important;
      @media (max-width: $screen-xs-max) {
        width: inherit;
      }
    }
  }

  .footer-container {
    @media (max-width: 767px) {
      .row {
        margin-left: 0;
        margin-right: 0;
        .col-sm-12 {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
  .bgc-footer {
    background-color: rgba(216, 216, 216, 1);
  }

  .social-text {
    color: rgba(256, 256, 256, 0.7);
  }

  .text-white {
    color: rgba(256, 256, 256, 1);
  }

  .newsletter {
    padding: 10px;
    border-radius: 5px;
  }

  .info {
    margin-top: 50px;
  }
}
