#page-main {
  $ash_gray: rgba(182, 182, 182, 1);

  .about-slogan h1 {
    font-weight: 200;
    letter-spacing: -0.08em;
    font-size: 5.5rem;
    line-height: 6.5rem;
  }

  .about-slogan {
    .text{
      @media (max-width: 420px) {
        text-align: center;
      }
    }
    .device-bloc-text-p {
      font-family: Open Sans;
      font-weight: 300;
      margin-top: 30px;
      margin-bottom: 0;
      font-size: 20px;
      line-height: 28px;
      @media (max-width: 420px) {
        text-align: center;
      }
    }
    .bloc-md {
      @media (min-width: 767px){
        padding: 120px 0 60px;
      }
    }
    h1 > span {
      color: #e1b8ff;
      font-weight: 400;
      padding: 5px;
      border-bottom: 1px solid #e1b8ff;
    }
    .btn {
      font-size: 1.5rem;
      margin-top: 22px;
      border-radius: 5px;
    }
    #subscribe-email-modal {
      text-align: center;
      color: #484848;

      .modal-dialog {
        margin-top: 10%;
        @media (max-width: $screen-xs-max) {
          margin-top: 30%;
        }
      }

      .modal-body {
        padding: 24px;
      }

      .email-guide {
        color: #6b37c1;
        @media (max-width: $screen-xs-max) {
          line-height: 28px;
        }
      }

      .email-input {
        margin-top: 18px;
        @media (max-width: $screen-xs-max) {
          text-align: center;
        }
        label {
          margin-right: 10px;
          color: gray;
        }
        input {
          width: 200px;
          color: black;
          display: inline-block;
        }
      }

      button[type= "submit"] {
        border-radius: 4px;
        padding: 6px 16px;
        color: #fff;
        background-color: #6b37c1 !important;
        @media (max-width: $screen-xs-max) {
          width: inherit;
        }
      }
    }
  }

  .header {
    top: 50px;
    left: 0px;
    height: 400px;
    background:
      /* top, transparent black, faked with gradient */
      linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      /* bottom, image */
      #{asset_url('about-slogan-background.jpg')};
    background-color: rgba(182, 182, 182, 1);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .about-text {
      margin-top: 300px;
      color: white;
      font-family: Noto Serif CJK KR;
    }
  }

  .main-text {
    padding-left: 0px!important;
    padding-right: 0px!important;
  }

  .mission-img {
    width: 140px;
    margin-bottom: 15px;
  }

  .parti-style {
    @media (max-width: $screen-xs-max) {
      margin-left: 10px!important;
      margin-right: 10px!important;
    }
  }

  .visible-md {
      @media (min-width: $screen-md-max){
        display: block !important;
      }
  }

  .activity {
    margin-bottom: 20px;
    .activity-link {
      color: rgba(0,0,0,0.5);
    }
    .activity-icon {
      width: 135px;
      height: 135px;
      margin-top: 30px;
    }
    .activity-text {
      color: rgba(0,0,0,0.5);
      margin-top: 10px;
    }
  }

  .contents-box {
    height: 100px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 3px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
    margin: 20px;

    .contents-text {
      color: rgba(0, 0, 0, 0.5);
      padding-top: 38px;
    }
  }

  .campaign {
    height: 210px;
    background-color: rgba(243, 243, 243, 1);
    border-radius: 3px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
    margin: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .campaign-text {
    margin: 10px;
    color: rgba(0,0,0,0.5);
  }

  //colors
  $color_line: rgba(151, 151, 151, 1);

  .article-title {
    color: white;
  }

  .article-box {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid $color_line;
    a {
      color: rgba(255, 255, 255, 0.8);
    }
    &.last {
      border-bottom: 1px solid $color_line;
    }
  }

  .more-article-box {
    margin-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    .more-article-text {
      padding: 10px;
      color: rgba(255, 255, 255, 0.8);
      border: 1px solid $color_line;
    }
  }

  .more-campaign-box {
    margin-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    .more-campaign-text {
      padding: 10px;
      color: rgba(0, 0, 0, 0.5);
      border: 1px solid $color_line;
    }
  }

  .platform {
    height: 210px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 3px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
    margin: 20px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .box {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
    }
    .text {
      padding-top: 145px;
      margin-left: 20px;
      color: rgba(255, 255, 255, 0.9);
    }
  }

  .community {
    height: 210px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 3px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
    margin: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .box {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
    }
    .text {
      padding-top: 145px;
      margin-left: 20px;
      color: rgba(255, 255, 255, 0.9);
    }
  }


  .introduce-box {
    height: 100px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 3px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
    margin: 20px;

    .introduce-text {
      color: rgba(0, 0, 0, 0.5);
      padding-top: 38px;
    }
  }

  .steemit {
    width: 15px;
    padding-bottom: 5px;
  }

}

