#bloc-41.bloc.bgc-anti-flash-white.l-bloc.campaign-detail
  .container.bloc-md
    .row
      .col-sm-8
        = image_tag "campaign-iknow3-detail.png", class: 'img-responsive'
      .col-sm-4
        %h3.mg-md
          바글시민와글입법(3) 전문가 쟁점토론, 당원 투표
        %p
          프로젝트 정당 ‘나는 알아야겠당'에서 발의할 입법안 'GMO 완전표시제'에 대한 전문가 쟁점 토론과 시민 투표를 진행했다.
          %br
          ‘나는 알아야겠당'의 목표는 GMO 원재료로 만들어진 식품엔 무조건 'GMO 표시'를 의무화하는 것이다. 전략은 다양하기에 GMO 완전표시제 시행을 십수 년간 주장해온 시민단체·소비자단체·생활협동조합 내에서도 어떤 방식으로 이 목표를 이룰지 의견 차이가 조금씩 있었다.
          %br
          서로 다른 전략을 가진 두 활동가를 7월21일 서울 종로구 한국농어촌사회연구소에서 만나 이야기를 듣고, 선택은 알아야겠당 당원과 시민들의 몫으로 남겼다.
          %br
          온라인 투표를 통해 결정된 시민들의 의사를 윤소하 의원실(정의당)에 전달하고 윤소하 의원실은 알아야겠당의 의견을 포함해 다양한 목소리를 담은 GMO 완전표시제법(식품위생법 개정안)을 8월 초 발의했다. 제안한 당원의 의견이 발의안에 얼마나 반영되었는지까지도 기사와 온라인으로 당원이 알 수 있도록 공유했다.
          %br
          %br
          %strong link
          %a.ltc-dark-pastel-purple{:href => "http://up.parti.xyz/step3", :target => "_blank"} http://up.parti.xyz/step3
          %br/
          %strong date
          2016년 7월 25일 ~ 7월 31일
          %br/
          %strong with
          한겨레21
          %br/
          %strong press
          %a.ltc-dark-pastel-purple{:href => "http://h21.hani.co.kr/arti/society/society_general/42109.html ", :target => "_blank"} GMO 완전표시제법 당신의 전략은?
          %br/
          %a.ltc-dark-pastel-purple{:href => "http://h21.hani.co.kr/arti/cover/cover_general/42270.html", :target => "_blank"}
            김현권 법안이 발의되자 윤소하 의원실은 술렁였다
            %br/
          %a.ltc-dark-pastel-purple{:href => "http://h21.hani.co.kr/arti/cover/cover_general/42271.html ", :target => "_blank"} 시민 의견은 얼마나 법안이 되었나
          %br/
#bloc-42.bloc.bgc-anti-flash-white.l-bloc
  .container.bloc-sm
    .row
      .col-sm-12
        %h2.text-center.mg-md
          전문가 쟁점 토론 영상
    .row.voffset
      .col-sm-12
        .embed-responsive.embed-responsive-16by9
          %iframe.embed-responsive-item{:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "", :src => "https://www.youtube.com/embed/CMTJSGoeHJE?list=PLwCgboQtbmkJcfJUhi7dbtIoQm6nASNoU", :webkitallowfullscreen => ""}
