#bloc-11.bloc.bgc-anti-flash-white.l-bloc.campaign-detail
  .container.bloc-md
    .row
      .col-sm-8
        = image_tag "campaign-letter-detail.png", class: 'img-responsive'
      .col-sm-4
        %h3.mg-md
          국회의장에게 보내는 편지
        %p
          테러방지법 본회의 의결을 막기 위한 야권의 필리버스터가 일주일 째 이어지던 당시 테러방지법에 대한 시민의 의견을 모은 프로젝트. 2016년 2월 29일 오전11시 기준으로 첫 문항인 "테러방지법 논의가 총선일정보다 중요하다" 문항은 찬성이 7만9000여명, 반대 1400여명 / "필리버스터가 계속되어야 한다" 문항은 찬성이 6만7000여명, 반대가 500여명 / "테러방지법은 통과되어야 한다"는 찬성이 2200여명, 반대가 6만5000여명이 투표했다.

          %br/
          %br/
          %strong with
          와글
          %br/
          %strong date
          2016년 2월 24일 ~ 3월 3일
          %br/
          %strong press
          %a.ltc-dark-pastel-purple{:href => "http://m.asiae.co.kr/view.htm?no=2016022911033900277 ", :target => "_blank"} 테러방지법에 대한 "국민의 편지" 화제…투표 결과 경악
          %a{:href => "index.html"}
          %br/
