#bloc-21.bloc.bgc-anti-flash-white.l-bloc.campaign-detail
  .container.bloc-md
    .row
      .col-sm-8
        = link_to 'http://nongmo.parti.xyz/', target: '_blank' do
          = image_tag "campaign-nongmo-detail.png", class: 'img-responsive'
      .col-sm-4
        %h3.mg-md
          = link_to 'http://nongmo.parti.xyz/', target: '_blank' do
            GMO완전표시제 입법 청원 캠페인
        %p
          국회 보건복지위원회의 법안심사소위원회 위원장인 인재근 의원(더불어민주당 도봉구갑)을 방문하여 17만여명의 서명 전달했습니다.
          %br/
          %br/
          %strong link
          %a.ltc-dark-pastel-purple{:href => "http://nongmo.parti.xyz/", :target => "_blank"} nongmo.parti.xyz
          %strong
            %br>/
            with
          icoop생협
          %br/
          %strong date
          2016년 8월 11일 ~
          %br/
          %strong press
          %a.ltc-dark-pastel-purple{:href => "http://icoop.coop/?p=7968838", :target => "_blank"} 아이쿱 GMO완전표시제 입법촉구 기자회견
          %br/
          %a.ltc-dark-pastel-purple{:href => "https://ccej.or.kr/index.php?document_srl=1154328", :target => "_blank"} 경실련 GMO 완전표시제 도입을 위해「식품위생법」, 「건강기능식품법」개정하라
          %br/
