.about-slogan {
  h2 {
    font-weight: 200;
    letter-spacing:-0.08em;
  }
  h2>span{
    color:#e1b8ff;
    font-weight:400;
    padding:5px;
    border-bottom:1px solid #e1b8ff;
  }
  .bloc-md {
    @media (min-width: $screen-xs-max) {
      padding: 140px 0 80px;
    }
  }
  .device-bloc-text-p {
    font-family: Open Sans;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 20px;
    @media (max-width: $screen-xs-max) {
      margin-top: 26px;
      margin-left:14px;
      font-size: 18px;
    }
  }
  .button-wrapper {
    @media (max-width: $screen-xs-max) {
      text-align: center;
    }
  }
  .btn {
    margin-top: 22px;
    @media (max-width: $screen-xs-max) {
      width: inherit;
    }
    &:hover{
      color:#e1b8ff !important;
      border-color:#e1b8ff !important;
    }
  }
  #subscribe-email-modal {
    text-align: center;
    color: #484848;

    .modal-dialog {
      margin-top: 10%;
      @media (max-width: $screen-xs-max) {
        margin-top: 30%;
      }
    }

    .modal-body {
      padding: 24px;
    }

    .email-guide {
      color: #6b37c1;
      @media (max-width: $screen-xs-max) {
        line-height: 28px;
      }
    }

    .email-input {
      margin-top: 18px;
      @media (max-width: $screen-xs-max) {
        text-align: center;
      }
      label {
        margin-right: 10px;
        color: gray;
      }
      input {
        width: 200px;
        color: black;
        display: inline-block;
      }
    }

    button[type= "submit"] {
      border-radius: 4px;
      padding: 6px 16px;
      color: #fff;
      background-color: #6b37c1 !important;
      @media (max-width: $screen-xs-max) {
        width: inherit;
      }
    }
  }
}
