.about-slogan {
  h2 {
    font-weight: 800;
    @media (min-width: $screen-xs-max) {
      font-size: 50px;
    }
    @media (max-width: $screen-xs-max) {
      line-height: 46px;
    }
  }
  .bloc-md {
    @media (min-width: $screen-xs-max) {
      padding: 70px 0;
    }
  }
  .device-bloc-text-p {
    font-family: Open Sans;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 30px;
    @media (max-width: $screen-xs-max) {
      margin-top: 24px;
      font-size: 20px;
    }
  }
  .btn {
    margin-top: 20px;
  }
  #subscribe-email-modal {
    text-align: center;
    color: #484848;

    .modal-dialog {
      margin-top: 10%;
      @media (max-width: $screen-xs-max) {
        margin-top: 30%;
      }
    }

    .modal-body {
      padding: 24px;
    }

    .email-guide {
      color: #6b37c1;
      @media (max-width: $screen-xs-max) {
        line-height: 28px;
      }
    }

    .email-input {
      margin-top: 18px;
      @media (max-width: $screen-xs-max) {
        text-align: center;
      }
      label {
        margin-right: 10px;
        color: gray;
      }
      input {
        width: 200px;
        color: black;
        display: inline-block;
      }
    }

    button[type= "submit"] {
      border-radius: 4px;
      padding: 6px 16px;
      color: #fff;
      background-color: #6b37c1 !important;
      @media (max-width: $screen-xs-max) {
        width: inherit;
      }
    }
  }
}
