// 상단고정 헤더가 있을 경우 앵커위치가 헤더에 가리지 않게 해줍니다
.anchor{
  display: block;
  height: 56px; /*same height as header*/
  margin-top: -56px; /*same height as header*/
  visibility: hidden;
}

body {
  margin: 0;
  padding: 0;
  background: $white;
  overflow-x: hidden;
}
a {
  outline: none!important;
  font-family: $font_2;
  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}
button {
  outline: none!important;
  outline: none!important;
}
.page-container {
  padding-top: 52px;
  word-break: keep-all;
  @media (max-width: $screen-xs-max) {
    padding-top: 50px;
  }
}
.application-header {
  position: fixed !important;
  z-index: 1000;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
