//colors
$color_gravel_approx: #484848;
$black_20: rgba(0,0,0,.2);
$black_10: rgba(0,0,0,.1);
$black_5: rgba(0,0,0,.05);
$black_8: rgba(0,0,0,.08);
$black:  black;
$black_80: rgba(0,0,0,.8);
$white_60: rgba(255,255,255,.6);
$white: #fff;
$black_50: rgba(0,0,0,0.5);
$white_70: rgba(255,255,255,.7);
$white_90: rgba(255,255,255,.9);
$white_20: rgba(255,255,255,.2);
$white_100: rgba(255,255,255,1);
$black_70: rgba(0,0,0,.7);
$black_60: rgba(0,0,0,.6);
$black_100: rgba(0,0,0,1);
$black_30: rgba(0,0,0,.3);
$black_0: rgba(0,0,0,0.0);
$color_white_approx: #fffffe;
$color_concrete_approx: #f3f3f3;
$color_medium_purple_approx: #966fd6;
$color_deluge_approx: #7859ab;

//fonts
$font_0: Open Sans;
$font_1: Lato;
$font_2: Helvetica;
$font_3: Josefin Sans;

//urls
$url_0: url(img/pageload-spinner.gif);
$url_3: url(img/onlne-stage.png);
$url_5: url(img/lines-h-bg.png);

// 상단고정 헤더가 있을 경우 앵커위치가 헤더에 가리지 않게 해줍니다
.anchor{
  display: block;
  height: 52px; /*same height as header*/
  margin-top: -52px; /*same height as header*/
  visibility: hidden;
  @media (max-width: $screen-xs-max) {
    height: 50px; /*same height as header*/
    margin-top: -50px; /*same height as header*/
  }
}

body {
  margin: 0;
  padding: 0;
  background: $white;
  overflow-x: hidden;
}
a {
  outline: none!important;
  font-family: $font_2;
  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}
button {
  outline: none!important;
  outline: none!important;
}
.application-header {
  position: fixed !important;
  z-index: 1000;
  width: 100%;
}
#page-loading-blocs-notifaction {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 100000;
  background: $white $url_0 no-repeat center center;
}
.bloc {
  width: 100%;
  clear: both;
  background: 50% 50% no-repeat;
  padding: 0 50px;
  background-size: cover;
  position: relative;
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}
.bloc-lg {
  padding: 100px 50px;
}
.bloc-md {
  padding: 50px;
}
.bloc-sm {
  padding: 20px 50px;
}
.full-width-bloc {
  padding-left: 0;
  padding-right: 0;
  .container {
    width: 100%;
    max-width: 100%!important;
  }
  .carousel {
    width: 100%;
    img {
      width: 100%;
      height: auto;
    }
  }
}
.bg-center {
  background-size: auto!important;
}
.bg-l-edge {
  background-size: auto!important;
}
.bg-r-edge {
  background-size: auto!important;
}
.bg-t-edge {
  background-size: auto!important;
}
.bg-b-edge {
  background-size: auto!important;
}
.bg-tl-edge {
  background-size: auto!important;
}
.bg-bl-edge {
  background-size: auto!important;
}
.bg-tr-edge {
  background-size: auto!important;
}
.bg-br-edge {
  background-size: auto!important;
}
.bg-repeat {
  background-size: auto!important;
  background: repeat;
}
.bloc-bg-texture::before {
  content: "";
  background-size: 2px 2px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.texture-darken::before {
  background: $black_50;
}
.d-bloc {
  color: $white_70;
  .icon-round {
    border-color: $white_90;
  }
  .icon-square {
    border-color: $white_90;
  }
  .icon-rounded {
    border-color: $white_90;
  }
  .icon-semi-rounded-a {
    border-color: $white_90;
  }
  .icon-semi-rounded-b {
    border-color: $white_90;
  }
  .a-btn {
    color: $white_60;
    &:hover {
      color: $white_100;
    }
  }
  .navbar-brand {
    color: $white_60;
    &:hover {
      color: $white_100;
    }
  }
  a {
    .icon-sm {
      color: $white_60;
    }
    .icon-md {
      color: $white_60;
    }
    .icon-lg {
      color: $white_60;
    }
    .icon-xl {
      color: $white_60;
    }
    &:hover {
      .icon-sm {
        color: $white_100;
      }
      .icon-md {
        color: $white_100;
      }
      .icon-lg {
        color: $white_100;
      }
      .icon-xl {
        color: $white_100;
      }
    }
  }
  .btn-wire {
    color: $white_100;
    border-color: $white_100;
    &:hover {
      color: $white_100;
      border-color: $white_100;
    }
  }
  .panel {
    color: $black_50;
    color: $black_50;
    icon {
      border-color: $black_70;
    }
    .a-btn {
      color: $black_60;
      color: $black_60;
      &:hover {
        color: $black_100;
        color: $black_100;
      }
    }
    .btn-wire {
      color: $black_70;
      border-color: $black_30;
      color: $black_70;
      border-color: $black_30;
      &:hover {
        color: $black_70;
        border-color: $black_30;
        color: $black_70;
        border-color: $black_30;
      }
    }
    button:hover {
      color: $black_70;
      color: $black_70;
    }
    .divider-h span {
      border-color: $black_10;
      border-color: $black_10;
    }
  }
  button:hover {
    color: $white_90;
  }
  .divider-h span {
    border-color: $white_20;
  }
  .navbar a {
    color: $white_60;
    &:hover {
      color: $white_100;
    }
  }
  h1 a {
    color: $white_60;
    &:hover {
      color: $white_100;
    }
  }
  h2 a {
    color: $white_60;
    &:hover {
      color: $white_100;
    }
  }
  h3 a {
    color: $white_60;
    &:hover {
      color: $white_100;
    }
  }
  h4 a {
    color: $white_60;
    &:hover {
      color: $white_100;
    }
  }
  h5 a {
    color: $white_60;
    &:hover {
      color: $white_100;
    }
  }
  h6 a {
    color: $white_60;
    &:hover {
      color: $white_100;
    }
  }
  p a {
    color: $white_60;
    &:hover {
      color: $white_100;
    }
  }
  .navbar-toggle .icon-bar {
    background: $white_100;
  }
}
.l-bloc {
  color: $black_50;
  .icon-round {
    border-color: $black_70;
  }
  .icon-square {
    border-color: $black_70;
  }
  .icon-rounded {
    border-color: $black_70;
  }
  .icon-semi-rounded-a {
    border-color: $black_70;
  }
  .icon-semi-rounded-b {
    border-color: $black_70;
  }
  .a-btn {
    color: $black_60;
    &:hover {
      color: $black_100;
    }
  }
  .navbar-brand {
    color: $black_60;
    &:hover {
      color: $black_100;
    }
  }
  a {
    .icon-sm {
      color: $black_60;
    }
    .icon-md {
      color: $black_60;
    }
    .icon-lg {
      color: $black_60;
    }
    .icon-xl {
      color: $black_60;
    }
    &:hover {
      .icon-sm {
        color: $black_100;
      }
      .icon-md {
        color: $black_100;
      }
      .icon-lg {
        color: $black_100;
      }
      .icon-xl {
        color: $black_100;
      }
    }
  }
  .btn-wire {
    color: $black_70;
    border-color: $black_30;
    &:hover {
      color: $black_70;
      border-color: $black_30;
    }
  }
  button:hover {
    color: $black_70;
  }
  .divider-h span {
    border-color: $black_10;
  }
  .navbar a {
    color: $black_60;
    &:hover {
      color: $black_100;
    }
  }
  h1 a {
    color: $black_60;
    &:hover {
      color: $black_100;
    }
  }
  h2 a {
    color: $black_60;
    &:hover {
      color: $black_100;
    }
  }
  h3 a {
    color: $black_60;
    &:hover {
      color: $black_100;
    }
  }
  h4 a {
    color: $black_60;
    &:hover {
      color: $black_100;
    }
  }
  h5 a {
    color: $black_60;
    &:hover {
      color: $black_100;
    }
  }
  h6 a {
    color: $black_60;
    &:hover {
      color: $black_100;
    }
  }
  p a {
    color: $black_60;
    &:hover {
      color: $black_100;
    }
  }
  .navbar-toggle .icon-bar {
    color: $black_60;
  }
}
.voffset {
  margin-top: 30px;
}
.voffset-md {
  margin-top: 50px;
}
