@import url(https://cdn.rawgit.com/kattergil/NotoSerifKR-Web/76eb9ebf/stylesheet/NotoSerif-Web.css);

#page-english {
  @media (min-width: 1280px) {
    width: 1280px;
    margin: 0 auto;
  }
  // Font
  .h1 { // Slogan
    font-family: 'Noto Serif KR', serif;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: -0.04em;
    color: rgba(51, 51, 51, 1);
    @media (max-width: $screen-sm-max) {
      font-size: 30px;
    }
    @media (min-width: $screen-sm-min) {
      font-size: 70px;
    }
  }
  .h2 { // Title
    font-family: 'Noto Sans CJK KR';
    font-weight: 300;
    color: rgba(182, 182, 182, 1);
    letter-spacing: -0.04em;
    @media (max-width: $screen-sm-max) {
      line-height: 40px;
      font-size: 36px;
    }
    @media (min-width: $screen-sm-min) {
      font-size: 50px;
    }
  }
  .h3 { // Subtitle 1
    font-family: 'Noto Sans CJK KR';
    font-weight: 500;
    color: rgba(97, 97, 97, 1);
    letter-spacing: -0.04em;
    @media (max-width: $screen-sm-max) {
      font-size: 36px;
    }
    @media (min-width: $screen-sm-min) {
      font-size: 40px;
    }
  }
  .h4 { // Subtitle 2
    font-family: 'Noto Sans CJK KR';
    color: rgba(97, 97, 97, 1);
    letter-spacing: -0.04em;
    @media (max-width: $screen-sm-max) {
      line-height: 24px;
      font-size: 18px;
    }
    @media (min-width: $screen-sm-min) {
      line-height: 40px;
      font-size: 30px;
    }
  }
  .p {
    font-family: 'Noto Sans CJK KR';
    color: rgba(97, 97, 97, 1);
    letter-spacing: -0.04em;
    @media (max-width: $screen-sm-max) {
      font-size: 16px;
    }
    @media (min-width: $screen-sm-min) {
      font-size: 24px;
    }
  }
  .caption {
    font-family: 'Noto Sans CJK KR';
    color: rgba(97, 97, 97, 1);
    letter-spacing: -0.04em;
    @media (max-width: $screen-sm-max) {
      font-size: 14px;
    }
    @media (min-width: $screen-sm-min) {
      font-size: 20px;
    }
  }
  .platform-name {
    margin: 20px;
    position: absolute;
    font-family: 'Noto Sans CJK KR';
    font-weight: bold;
    color: rgba(255, 255, 255, 1) !important;
    text-align: left;
    letter-spacing: -0.04em;
    @media (max-width: $screen-sm-max) {
        font-size: 40px;
      }
      @media (min-width: $screen-sm-min) {
        font-size: 60px;
      }
  }
  .platform {
    font-family: 'Noto Sans CJK KR';
    color: rgba(51, 51, 51, 1);
    letter-spacing: -0.04em;
    @media (max-width: $screen-sm-max) {
      font-size: 36px;
    }
    @media (min-width: $screen-sm-min) {
      font-size: 60px;
    }
  }
  .btn-english {
    background-color: rgba(54, 182, 169, 1);
    border-radius: 10px;
  }
  .slogan {
    text-align: left;
    @media (max-width: $screen-sm-max) {
      height: 160px;
      padding: 0 16px 0 16px;
    }
    @media (min-width: $screen-sm-min) {
      height: 330px;
      padding: 0 190px 0 190px;
    }

    background-image: -webkit-linear-gradient(-270deg, rgba(54, 182, 169, 1) 0%, rgba(164, 153, 201, 1) 100%);
    background-image: -moz-linear-gradient(-270deg, rgba(54, 182, 169, 1) 0%, rgba(164, 153, 201, 1) 100%);
    background-image: -o-linear-gradient(-270deg, rgba(54, 182, 169, 1) 0%, rgba(164, 153, 201, 1) 100%);
    background-image: linear-gradient(-270deg, rgba(54, 182, 169, 1) 0%, rgba(164, 153, 201, 1) 100%);

    .h1 {
      @media (max-width: $screen-sm-max) {
        padding-top: 98px;
        text-align: left;
      }
      @media (min-width: $screen-sm-min) {
        padding-top: 177px;
      }
    }
  }
  .mission {
    text-align: left;
    @media (max-width: $screen-sm-max) {
      padding: 0 16px 20px 16px;
    }
    @media (min-width: $screen-sm-min) {
      height: 481px;
      padding: 42px 190px 0 190px;
    }
    .h2 {

    }
    .h4 {

    }
  }
  .who-we-are {
    background-color: rgba(51, 51, 51, 1);
    @media (max-width: $screen-sm-max) {
      height: 240px;
    }
    @media (min-width: $screen-sm-min) {
      height: 400px;
    }
    .photo {
      @media (max-width: $screen-sm-max) {
        width: 100%;
        height: 240px;
        z-index: 2;
        position: absolute;
        background-color: rgba(51, 51, 51, 1);
      }
      @media (min-width: $screen-sm-min) {
        height: 100%;
        width: 30%;
        float: left;
        margin-right: 44px;
      }
      background-image: asset_url('parti_member.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      opacity : .32;
    }
    .description {
      @media (max-width: $screen-sm-max) {
        z-index: 100;
        padding: 20px 16px 0 16px;
      }
      @media (min-width: $screen-sm-min) {
        padding: 107px 160px 0 0;
      }
      .h2 {
        color: rgba(255, 255, 255, 1) !important;
      }
      .h4 {
        color: rgba(255, 255, 255, 1) !important;
      }
    }
  }
  .platforms {
    @media (max-width: $screen-sm-max) {
      padding: 20px 16px 0 16px;
    }
    @media (min-width: $screen-sm-min) {
      height: 850px;
      padding: 36px 190px 0 190px;
    }
    .slide {
      @media (max-width: $screen-sm-max) {
        margin-left: -25px;
        width: 393px;
      }
      @media (min-width: $screen-sm-min) {
        margin-left: -200px;
        width: 1300px;
        height: 600px;
      }
      .card {
        @media (max-width: $screen-sm-max) {
          width: 320px;
          height: 600px;
        }
        @media (min-width: $screen-sm-min) {
          width: 900px;
          height: 600px;
        }
        margin-top: 20px;
        margin-bottom: 10px;
        border-radius: 9px;
        box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.2);

        .h3 {

        }
        .p {

        }
        .image {
          @media (max-width: $screen-sm-max) {
            // height: 383px;
          }
          @media (min-width: $screen-sm-min) {
            // height: 383px;
          }
        }
        .description {
          padding: 20px;
        }
        .download {
          margin-top: 15px;
          display: inline-block;
          .box {
            display: inline-block;
            height: 50px;
            background-color: rgba(51, 51, 51, 1);
            color: rgba(255, 255, 255, 1);
            border-radius: 10px;
            font-family: 'Noto Sans CJK KR';
            font-size: 18px;
            font-weight: bold;
            color: rgba(255, 255, 255, 1);
            text-align: left;
            letter-spacing: -0.04em;
            text-align: center;
            @media (max-width: $screen-sm-max) {
              float:left;
              margin-right: 10px;
              width: 50px;
            }
            @media (min-width: $screen-sm-min) {
              width: 200px;
            }
            img {
              max-width: 30px;
              height: 30px;
              margin-right: 5px;
              display: inline-block;
            }
            .hidden-xs{
              display: inline-block;
            }
          }
          .link {
            font-family: 'Noto Sans CJK KR';
            font-size: 18px;
            font-weight: bold;
            height: 50px;
            @media (max-width: $screen-sm-max) {
              float: left;
              width: 150px;
            }
            @media (min-width: $screen-sm-min) {
              width: 200px;
            }
            a {
              color: rgba(255, 255, 255, 1);
            }
          }
          &:not(:last-child){
            margin-right: 15px;
          }
        }
      }
    }
  }
  .contents {
    @media (max-width: $screen-sm-max) {
      padding: 20px 16px 0 16px;
    }
    @media (min-width: $screen-sm-min) {
      height: 360px;
      padding: 36px 190px 0 190px;
    }
    .line {
      @media (max-width: $screen-sm-max) {
        margin-top: 5px;
      }
      @media (min-width: $screen-sm-min) {
        margin-top: 15px;
      }
    }
    .box {
      @media (max-width: $screen-sm-max) {
        height: 70px;
        width: 100%;
        margin-top: 15px;
        font-size: 20px;
        padding: 24px;
      }
      @media (min-width: $screen-sm-min) {
        width: 100%;
        margin-top: 15px;
        font-size: 24px;
        padding: 34px;
      }
      display: block;
      background-color: rgba(179, 132, 255, 1);
      border-radius: 10px;
      box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.11);
      font-family: 'Noto Sans CJK KR';
      font-weight: bold;
      color: rgba(255, 255, 255, 1);
      text-align: center;

      -webkit-transition: margin 0.3s ease-out;
      -moz-transition: margin 0.3s ease-out;
      -o-transition: margin 0.3s ease-out;

      &:hover {
        margin-top: 5px;
        cursor:pointer;
      }

      a {
        color: rgba(255, 255, 255, 1);
      }
    }
  }
  .movement {
    @media (max-width: $screen-sm-max) {
      padding: 20px 16px 0 16px;
    }
    @media (min-width: $screen-sm-min) {
      height: 800px;
      padding: 16px 190px 0 190px;
    }
    .h3 {

    }
    .p {

    }
    .photo {
      padding: 15px;
      .card {
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 16px;
        @media (max-width: $screen-sm-min) {
          height: 290px;
        }
        @media (min-width: $screen-sm-min) {
          margin-right: 16px;
          width: 280px;
          height: 280px;
        }
      }
    }
  }
  .be-with-us {
    background-color: rgba(236, 236, 236, 1);
    @media (max-width: $screen-sm-max) {
      height: 360px;
      padding: 30px 16px 0 16px;
      text-align: center;
    }
    @media (min-width: $screen-sm-min) {
      height: 250px;
      padding: 36px 190px 0 190px;
    }
    .h2 {
      color: rgba(97, 97, 97, 1);
    }
    .p {

    }
    .clap {
      -webkit-transition: margin 0.4s ease-out;
      -moz-transition: margin 0.4s ease-out;
      -o-transition: margin 0.4s ease-out;

      &:hover {
        margin-top: 10px;
        cursor:pointer;
      }

      @media (max-width: $screen-sm-max) {
        margin: 40px auto;
      }
      @media (min-width: $screen-sm-min) {
        margin-top: 20px;
        float: right;
      }
      height: 120px;
      width: 120px;
      background-color: rgba(179, 132, 255, 1);
      border-radius: 120px;
      box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.5);
      padding: 26px;
      .clap-image {
        padding: 33px;
        width: 68px;
        margin: 0 auto;
        background-image: asset_url('clap.png');
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    #clap-modal {
      text-align: center;
      color: #484848;

      .modal-dialog {
        @media (max-width: $screen-sm-min) {
          width: auto;
        }
        @media (min-width: $screen-sm-min) {
          width: 500px;
        }
        margin-top: 15%;
        @media (max-width: $screen-xs-max) {
          margin-top: 30%;
        }
        .modal-content {
          background-color: rgba(179, 132, 255, 1);
        }
      }
      .modal-body {
        width: 100%;
        background-color: rgba(179, 132, 255, 1);
        padding: 5px 20px 5px 20px;
        height: 275px;
        .email-guide {
          margin-top: 62px;
          color: rgba(255, 255, 255, 1);
          font-family: 'Noto Sans CJK KR';
          font-size: 40px;
          text-align: center;
          font-weight: bold;
          @media (max-width: $screen-xs-max) {
            line-height: 28px;
          }
        }
        .close{
          font-size: 40px;
        }
        .sns {
          display: inline-block;
          .box{
            margin-top: 25px;
            float: left;
            height: 50px;
            width: 50px;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 50px;
            position:relative;
            img, .social-share-button {
              margin: 12px;
              max-width: 28px;
              max-height: 28px;
              position:absolute;
              width:auto; height:auto;
              margin:auto;
              top:0; bottom:0; left:0; right:0;
            }
            &:not(:last-child){
              margin-right: 15px;
            }
            .ssb-twitter, .ssb-facebook {
              background-size: auto;
              height: 28px;
              width: 28px;
            }
            .ssb-twitter {
              background-image: asset_url('contact/twitter.png');
            }
            .ssb-facebook {
              background-image: asset_url('contact/facebook.png');
            }


            -webkit-transition: margin 0.3s ease-out;
            -moz-transition: margin 0.3s ease-out;
            -o-transition: margin 0.3s ease-out;

            &:hover {
              margin-top: 15px;
              cursor:pointer;
            }
          }
        }
      }
    }
  }
  .contact {
    text-align: center;
    background-color: rgba(51, 51, 51, 1);
    color: rgba(255, 255, 255, 1);
    @media (max-width: $screen-sm-max) {
      height: 400px;
      padding: 20px 16px 0 16px;
    }
    @media (min-width: $screen-sm-min) {
      height: 450px;
      padding: 43px 380px 0 380px;
    }
    .h3 {
      color: rgba(255, 255, 255, 1);
    }
    .p {
      color: rgba(255, 255, 255, 1);
    }
    .sns {
      display: inline-block;
      .box{
        margin-top: 25px;
        float: left;
        height: 50px;
        width: 50px;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 50px;
        position:relative;
        img {
          margin: 12px;
          max-width: 28px;
          max-height: 28px;
          position:absolute;
          width:auto; height:auto;
          margin:auto;
          top:0; bottom:0; left:0; right:0;
        }
        &:not(:last-child){
          margin-right: 15px;
        }

        -webkit-transition: margin 0.3s ease-out;
        -moz-transition: margin 0.3s ease-out;
        -o-transition: margin 0.3s ease-out;

        &:hover {
          margin-top: 15px;
          cursor:pointer;
        }
      }
    }
    .newsletter {
      @media (max-width: $screen-sm-max) {
        font-size: 24px;
      }
      @media (min-width: $screen-sm-min) {
        font-size: 30px;
      }
      margin-top: 20px;
    }
    .subscribe {
      @media (max-width: $screen-sm-max) {
        background-color: rgba(54, 182, 169, 1);
        padding: 15px 30px 15px 30px;
        margin: 15px 10px 0px 10px;
        font-size: 20px;
      }
      @media (min-width: $screen-sm-min) {
        background-color: rgba(179, 132, 255, 1);
        width: 300px;
        margin: 20px auto;
        font-size: 24px;
      }
      height: 65px;
      border-radius: 10px;
      border-width: 0px;
      box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.11);
      color: rgba(255, 255, 255, 1);
      text-align: center;

      -webkit-transition: margin 0.3s ease-out;
      -moz-transition: margin 0.3s ease-out;
      -o-transition: margin 0.3s ease-out;

      &:hover {
        margin-top: 10px;
        cursor:pointer;
      }
    }
    #subscribe-email-modal {
      text-align: center;
      color: #484848;

      .modal-dialog {
        @media (max-width: $screen-xs-max) {
          width: auto;
          margin-top: 30%;
        }
        @media (min-width: $screen-sm-min) {
          width: 500px;
        }
        .modal-content {
          background-color: rgba(179, 132, 255, 1);
        }
        background-color: rgba(179, 132, 255, 1);
        margin-top: 15%;
      }

      .modal-body {
        display: inline-block;
        padding: 24px;
        width: 100%;
        height: 275px;
        .email-guide {
          margin-top: 62px;
          color: rgba(255, 255, 255, 1);
          font-family: 'Noto Sans CJK KR';
          font-size: 30px;
          text-align: center;
          font-weight: bold;
          text-align: center;
          @media (max-width: $screen-xs-max) {
            line-height: 28px;
          }
        }
        .close {
          font-size: 40px;
        }
        .email-input {
          margin-top: 18px;
          @media (max-width: $screen-xs-max) {
            text-align: center;
          }
          label {
            margin-right: 10px;
            color: rgba(255, 255, 255, 1);
            font-family: 'Noto Sans CJK KR';
          }
          input {
            width: 200px;
            color: black;
            display: inline-block;
          }
          button {
            display: inline-block;
            font-family: 'Noto Sans CJK KR';
          }
        }
      }

    }
  }
}
