@font-face {
  font-family: 'NotoSans-Light';
  src: font_url('NotoSans-Light.otf');
  src: font_url('NotoSans-Light.eot?#iefix') format("embedded-opentype"),
    font_url('NotoSans-Light.woff') format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSans-Regular';
  src: font_url('NotoSans-Regular.otf');
  src: font_url('NotoSans-Regular.eot?#iefix') format("embedded-opentype"),
    font_url('NotoSans-Regular.woff') format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSans-Medium';
  src: font_url('NotoSans-Medium.otf');
  src: font_url('NotoSans-Medium.eot?#iefix') format("embedded-opentype"),
    font_url('NotoSans-Medium.woff') format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSans-Bold';
  src: font_url('NotoSans-Bold.otf');
  src: font_url('NotoSans-Bold.eot?#iefix') format("embedded-opentype"),
    font_url('NotoSans-Bold.woff') format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSerif-Bold';
  src: font_url('NotoSerifCJKkr-Bold-subset');
  src: font_url('NotoSerifCJKkr-Bold-subset.woff') format("woff"),
        font_url('NotoSerifCJKkr-Bold-subset.woff2') format("woff2");
  font-weight: normal;
  font-style: normal;
}

$font_sans: "Noto Sans";
$font_0: 'NotoSans-Regular';
$font_1: 'NotoSerif-Bold';
$font_2: 'NotoSans-Light';
$font_3: 'NotoSans-Medium';
$font_4: 'NotoSans-Bold';

.light      { font-family: $font_2; font-weight: 300; }
.regular    { font-family: $font_0; font-weight: 400; }
.medium     { font-family: $font_3; font-weight: 500; }
.bold       { font-family: $font_4; font-weight: 700; }

#page-english {
  font-family: $font_0, $font_sans;
  width: 100%;
  margin: 0 auto;
  a {
    font-family: $font_3, $font_sans;
  }
  span {
    font-family: $font_0, $font_sans;
  }
  button {
    font-family: $font_4, $font_sans;
  }
  label {
    font-family: $font_0, $font_sans;
  }

  // Font
  .slogan-text { // Slogan
    font-family: $font_1, serif;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: -0.04em;
    color: rgba(51, 51, 51, 1);
    @media (max-width: $screen-sm-max) {
      font-size: 38px;
    }
    @media (min-width: $screen-sm-max) {
      font-size: 70px;
    }
  }
  .title { // Title
    color: rgba(182, 182, 182, 1);
    letter-spacing: -0.04em;
    @media (max-width: $screen-sm-max) {
      line-height: 40px;
      font-size: 38px;
    }
    @media (min-width: $screen-sm-max) {
      line-height: 60px;
      font-size: 50px;
    }
  }
  .subtitle { // Subtitle 1
    color: rgba(97, 97, 97, 1);
    letter-spacing: -0.04em;
    @media (max-width: $screen-sm-max) {
      font-size: 36px;
      line-height: 36px;
    }
    @media (min-width: $screen-sm-max) {
      font-size: 40px;
    }
  }
  .subtitle2 { // Subtitle 2
    color: rgba(97, 97, 97, 1);
    letter-spacing: -0.04em;
    @media (max-width: $screen-sm-max) {
      line-height: 28px;
      font-size: 18px;
    }
    @media (min-width: $screen-sm-max) {
      line-height: 40px;
      font-size: 30px;
    }
  }
  .maintext { // Main text
    color: rgba(97, 97, 97, 1);
    font-weight: 400;
    letter-spacing: -0.04em;
    @media (max-width: $screen-sm-max) {
      font-size: 16px;
    }
    @media (min-width: $screen-sm-max) {
      font-size: 24px;
    }
  }
  .caption {
    color: rgba(255, 255, 255, 1);
    letter-spacing: -0.04em;
    height: 50px;
    width: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
    @media (max-width: $screen-sm-max) {
      font-size: 16px;
    }
    @media (min-width: $screen-sm-max) {
      font-size: 17px;
    }
  }
  .platform-name {
    margin: 20px;
    position: absolute;
    font-weight: bold;
    color: rgba(255, 255, 255, 1) !important;
    text-align: left;
    letter-spacing: -0.04em;
    @media (max-width: $screen-sm-max) {
        line-height: 40px;
        font-size: 40px;
      }
      @media (min-width: $screen-sm-max) {
        line-height: 60px;
        font-size: 60px;
      }
  }
  .platform {
    color: rgba(51, 51, 51, 1);
    letter-spacing: -0.04em;
    @media (max-width: $screen-sm-max) {
      font-size: 36px;
    }
    @media (min-width: $screen-sm-max) {
      font-size: 60px;
    }
  }
  .btn-english {
    background-color: rgba(54, 182, 169, 1);
    border-radius: 10px;
    color: rgba(255, 255, 255, 1);
    &:hover {
      background-color: rgba(42, 161, 149, 1);
      color: rgba(255, 255, 255, 1) !important;
      border-width: 0;
    }
  }
  .slogan {
    @media (max-width: $screen-sm-max) {
      height: 220px;
      padding: 0 14px 0 9px;
      padding-top: 105px;
    }
    @media (min-width: $screen-sm-max) {
      height: 330px;
      margin: 0 auto;
      padding: 55px 15% 0 15%;
      padding-top: 127px;
    }

    background-image: -webkit-linear-gradient(-270deg, rgba(54, 182, 169, 1) 0%, rgba(164, 153, 201, 1) 100%);
    background-image: -moz-linear-gradient(-270deg, rgba(54, 182, 169, 1) 0%, rgba(164, 153, 201, 1) 100%);
    background-image: -o-linear-gradient(-270deg, rgba(54, 182, 169, 1) 0%, rgba(164, 153, 201, 1) 100%);
    background-image: linear-gradient(-270deg, rgba(54, 182, 169, 1) 0%, rgba(164, 153, 201, 1) 100%);

    .slogan-wrapper {
      display: inline-block;
    }

    img {
      @media (max-width: $screen-sm-max) {
        width: 108px;
      }
      @media (min-width: $screen-sm-max) {
        width: 217px;
        margin-right: 30px;
      }
    }

    .slogan-text {
      margin-top: 5px;
      text-align: left;
      @media (max-width: $screen-sm-max) {
        margin-left: 5px;
      }
      @media (min-width: $screen-sm-max) {
        margin: 0 0 0 12px;
      }
    }
  }
  .mission {
    text-align: left;
    @media (max-width: $screen-sm-max) {
      padding: 20px 16px 20px 16px;
    }
    @media (min-width: $screen-sm-max) {
      padding: 42px 0 50px 0;
      width: 70%;
      margin: 0 auto;
    }
    .subtitle2 {
      margin-top: 15px;
    }
  }
  .who-we-are {
    background-color: rgba(51, 51, 51, 1);
    @media (max-width: $screen-sm-max) {
      height: 240px;
      background-image: asset_url('parti-member-mobile.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    @media (min-width: $screen-sm-max) {
      height: 400px;
    }
    .photo {
      @media (min-width: $screen-sm-max) {
        height: 100%;
        width: 30%;
        float: left;
        margin-right: 44px;
      }
      background-image: asset_url('parti_member.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      opacity : .32;
    }
    .description {
      @media (max-width: $screen-sm-max) {
        margin-top: 10px;
        padding: 30px 16px 0 16px;
      }
      @media (max-width: $screen-md-max) and (min-width: $screen-sm-max) {
        padding: 90px 60px 0 0;
      }
      @media (min-width: $screen-md-max) {
        padding: 125px 60px 0 0;
      }
      .title {
        color: rgba(255, 255, 255, 1) !important;
      }
      .subtitle2 {
        color: rgba(255, 255, 255, 1) !important;
        @media (max-width: $screen-sm-max) {
          margin-top: 24px;
        }
        @media (min-width: $screen-sm-max) {
          margin-top: 20px;
        }
      }
    }
  }
  .platforms {
    width: 100%;
    @media (max-width: $screen-sm-max) {
      padding: 20px 16px 0 16px;
      margin-bottom: 10px;
    }
    @media (min-width: $screen-sm-max) {
      padding: 36px 15% 0 15%;
      margin-bottom: 20px;
    }
    .platforms-text{
      @media (max-width: $screen-sm-max) {
        margin-top: 10px;
      }
      @media (min-width: $screen-sm-max) {
        margin-top: 5px;
      }
    }
    .slide {
      @media (max-width: $screen-sm-max) {
        margin-left: -5%;
        width: 110%;
      }
      @media (min-width: $screen-sm-max) {
        margin-left: -25%;
        width: 150%;
      }
      .owl-nav {
        background: transparent;
      }
      .owl-next, .owl-prev {
        height: 100%;
        position: absolute;
        top: 0;
        width: 25%;
        color: rgba(255, 255, 255, 0.7);
        font-size: 35px;
        &:hover{
          background: transparent;
        }
      }
      .owl-next {
        right: 0;
      }
      .owl-prev {
        left: 0;
      }
      .visible-sm-card{
        @media (min-width: 620px) and (max-width: $screen-sm-min) {
          display : block;
        }
        @media (max-width: 620px), (min-width: $screen-sm-min)  {
          display: none;
        }
      }
      .card {
        // white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @media (max-width: $screen-sm-min) {
          width: 310px;
          height: 600px;
        }
        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max)   {
          width: 500px;
          height: 600px;
        }
        @media (min-width: $screen-sm-max) {
          width: 900px;
          height: 600px;
        }
        @media (min-width: 1800px) {
          width: 1200px;
          height: 600px;
        }
        @media (min-width: 2400px) {
          width: 1800px;
          height: 600px;
        }
        margin-top: 20px;
        margin-bottom: 10px;
        border-radius: 9px;
        box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.2);
        .image {
          @media (max-width: $screen-sm-max) {
            // height: 383px;
          }
          @media (min-width: $screen-sm-max) {
            // height: 383px;
          }
        }
        .description {
          @media (max-width: $screen-sm-max) {
            padding: 13px;
          }
          @media (min-width: $screen-sm-max) {
            padding: 19px;
          }
        }
        .maintext {
          color: rgba(101, 110, 115, 1);
        }
        .download {
          position: absolute;
          bottom: 18px;
          @media (max-width: $screen-sm-max) {
            margin-top: 5px;
            padding: 0 13px 0 13px;
          }
          @media (min-width: $screen-sm-max) {
            margin-top: 10px;
            margin-bottom: 5px;
            padding: 0 19px 0 19px;
          }
          display: inline-block;
          .box {
            display: inline-block;
            height: 50px;
            background-color: rgba(51, 51, 51, 1);
            color: rgba(255, 255, 255, 1);
            border-radius: 10px;
            font-size: 18px;
            font-weight: bold;
            color: rgba(255, 255, 255, 1);
            text-align: left;
            letter-spacing: -0.02em;
            text-align: center;
            @media (max-width: $screen-sm-max) {
              float:left;
              margin-right: 10px;
              width: 50px;
            }
            @media (min-width: $screen-sm-max) {
              width: 200px;
            }
            img {
              max-width: 30px;
              height: 30px;
              margin-right: 5px;
              display: inline-block;
            }
            .market-text{
              display: inline-block;
            }
          }
          button {
            padding: 0;
            border-radius: 10px;
            a {
              color : rgba(255, 255, 255, 1);
            }
            .link {
              font-size: 18px;
              font-weight: bold;
              height: 50px;
              @media (max-width: $screen-sm-max) {
                float: left;
                width: 150px;
              }
              @media (min-width: $screen-sm-max) {
                width: 305px;
              }
              display: inline-block;
              padding-top: 12px;
              text-align: center;
              color: white;
            }
          }
          &:not(:last-child){
            margin-right: 15px;
          }
        }
      }
      .fill {
        @media (max-width: $screen-sm-max) {
          width: 100% !important;
        }
      }
    }
  }
  .contents {
    @media (max-width: $screen-sm-max) {
      padding: 20px 17px 0 17px;
    }
    @media (min-width: $screen-sm-max) {
      width: 70%;
      margin: 20px auto;
      padding: 20px 0 0 0;
    }
    .maintext {
      @media (max-width: $screen-sm-max) {
        margin-top: 10px;
      }
      @media (min-width: $screen-sm-max) {
        margin-top: 5px
      }
    }
    .line {
      @media (max-width: $screen-sm-max) {
        margin-top: 5px;
      }
      @media (min-width: $screen-sm-max) {
        margin-top: 15px;
      }
    }
    .box {
      @media (max-width: $screen-sm-max) {
        height: 70px;
        width: 100%;
        margin-top: 15px;
        font-size: 20px;
        padding: 24px 0 24px 0;
      }
      @media (min-width: $screen-sm-max) {
        width: 100%;
        margin-top: 15px;
        font-size: 24px;
        padding: 34px 0 34px 0;
      }
      display: block;
      background-color: rgba(179, 132, 255, 1);
      border-radius: 10px;
      box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.11);
      font-weight: bold;
      color: rgba(255, 255, 255, 1);
      text-align: center;

      -webkit-transition: margin 0.3s ease-out;
      -moz-transition: margin 0.3s ease-out;
      -o-transition: margin 0.3s ease-out;

      &:hover {
        margin-top: 5px;
        cursor:pointer;
      }

      a {
        color: rgba(255, 255, 255, 1);
      }
    }
  }
  .movement {
    @media (max-width: $screen-sm-max) {
      padding: 30px 16px 0 16px;
    }
    @media (min-width: $screen-sm-max) {
      width: 70%;
      margin: 0 auto;
      padding: 30px 0 0 0;
    }
    .maintext {
      @media (max-width: $screen-sm-max) {
        margin: 10px 0 10px 0 ;
      }
      @media (min-width: $screen-sm-max) {
        margin: 5px 0 10px 0 ;
      }
      .span {
        display: inline;
        color: rgba(54, 182, 169, 1);
      }
    }
    .photo {
      @media (max-width: $screen-sm-max) {
        margin-top: 15px;
      }
      @media (min-width: $screen-sm-max) {
        margin-top: 30px;
      }
      .card {
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 16px;
        @media (max-width: $screen-sm-max) {
          width: 100%;
          height: 290px;
        }
        @media (min-width: $screen-sm-max) {
          height: 290px;
        }
      }
      .col-sm-4 {
        @media (min-width: $screen-sm-max) {
          padding-right: 5px;
        }
      }
    }
  }
  .be-with-us {
    background-color: rgba(236, 236, 236, 1);
    @media (max-width: $screen-sm-max) {
      padding: 40px 16px 40px 16px;
      text-align: center;
    }
    @media (min-width: $screen-sm-max) {
      height: 250px;
      padding: 55px 15% 0 15%;
      margin: 0 auto;
    }
    .title {
      color: rgba(97, 97, 97, 1);
      @media (max-width: $screen-sm-max) {
      }
      @media (min-width: $screen-sm-max) {
        margin-top: 20px;
      }
    }
    .maintext {
      @media (max-width: $screen-sm-max) {
        margin-top: 15px;
      }
      @media (min-width: $screen-sm-max) {
        margin: 7px 0 10px 0;
      }
    }
    .clap {
      -webkit-transition: margin 0.4s ease-out;
      -moz-transition: margin 0.4s ease-out;
      -o-transition: margin 0.4s ease-out;

      &:hover {
        @media (min-width: $screen-sm-max) {
          margin-top: -130px;
        }
        cursor:pointer;
      }

      @media (max-width: $screen-sm-max) {
        margin: 20px auto 0px auto;
      }
      @media (min-width: $screen-sm-max) {
        margin: -120px 80px 0 0;
        float: right;
      }
      height: 120px;
      width: 120px;
      background-color: rgba(179, 132, 255, 1);
      border-radius: 120px;
      border-width: 0px;
      box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.5);
      padding: 26px;
      .clap-image {
        padding: 33px;
        width: 68px;
        margin: 0 auto;
        background-image: asset_url('clap.png');
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    #clap-modal {
      text-align: center;
      color: #484848;

      .modal-dialog {
        @media (max-width: $screen-sm-max) {
          margin: 30% auto;
          width: 90%;
        }
        @media (min-width: $screen-sm-max) {
          width: 500px;
        }
        margin-top: 15%;
        .modal-content {
          background-color: rgba(179, 132, 255, 1);
          border-radius: 0px;
        }
      }
      .modal-body {
        width: 100%;
        background-color: rgba(179, 132, 255, 1);
        padding: 5px;
        height: 275px;
        .email-guide {
          color: rgba(255, 255, 255, 1);
          font-size: 40px;
          text-align: center;
          font-weight: bold;
          @media (max-width: $screen-sm-max) {
            margin-top: 72px;
          }
          @media (min-width: $screen-sm-max) {
            margin-top: 52px;
          }
        }
        .close{
          font-size: 40px;
        }
        .sns {
          display: inline-block;
          .box{
            margin-top: 35px;
            float: left;
            height: 50px;
            width: 50px;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 50px;
            position:relative;
            img, .social-share-button {
              margin: 12px;
              max-width: 28px;
              max-height: 28px;
              position:absolute;
              width:auto; height:auto;
              top:0; bottom:0; left:0; right:0;
            }
            .btn {
              border-width: 0px;
            }
            &:not(:last-child){
              margin-right: 15px;
            }
            .ssb-twitter, .ssb-facebook, .js-clipboard {
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center;
            }
            .ssb-twitter {
              background-image: asset_url('contact/twitter.png');
              margin-top: 2px;
              height: 23px;
              width: 28px;
            }
            .ssb-facebook {
              background-image: asset_url('contact/facebook.png');
              height: 28px;
              width: 14px;
            }


            -webkit-transition: margin 0.3s ease-out;
            -moz-transition: margin 0.3s ease-out;
            -o-transition: margin 0.3s ease-out;

            &:hover {
              margin-top: 15px;
              cursor:pointer;
            }
          }
        }
      }
    }
  }
  .contact {
    text-align: center;
    background-color: rgba(51, 51, 51, 1);
    color: rgba(255, 255, 255, 1);
    @media (max-width: $screen-sm-max) {
      padding: 30px 16px 30px 16px;
    }
    @media (min-width: $screen-sm-max) {
      margin: 0 auto;
      padding: 43px 25% 40px 25%;
    }
    .subtitle {
      color: rgba(255, 255, 255, 1);
    }
    .maintext {
      color: rgba(255, 255, 255, 1);
      @media (max-width: $screen-sm-max) {
        margin-top: 10px;
      }
      @media (min-width: $screen-sm-max) {
        margin-top: 10px;
      }
    }
    .sns {
      display: inline-block;
      .box{
        margin-top: 25px;
        float: left;
        height: 50px;
        width: 50px;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 50px;
        position:relative;
        img {
          margin: 12px;
          max-width: 28px;
          max-height: 28px;
          position:absolute;
          width:auto; height:auto;
          margin:auto;
          top:0; bottom:0; left:0; right:0;
        }
        &:not(:last-child){
          margin-right: 15px;
        }

        -webkit-transition: margin 0.3s ease-out;
        -moz-transition: margin 0.3s ease-out;
        -o-transition: margin 0.3s ease-out;

        &:hover {
          @media (min-width: $screen-sm-max) {
            margin-top: 15px;
            cursor:pointer;
          }
        }
      }
    }
    .newsletter {
      @media (max-width: $screen-sm-max) {
        font-size: 24px;
      }
      @media (min-width: $screen-sm-max) {
        font-size: 30px;
      }
      margin-top: 20px;
    }
    .subscribe {
      @media (max-width: $screen-sm-max) {
        padding: 10px 40px 10px 40px;
        margin: 15px 10px 0px 10px;
        font-size: 20px;
      }
      @media (min-width: $screen-sm-max) {
        width: 300px;
        margin: 15px auto;
        font-size: 24px;
      }
      height: 55px;
      background-color: rgba(54, 182, 169, 1);
      border-radius: 10px;
      border-width: 0px;
      box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.11);
      color: rgba(255, 255, 255, 1);
      font-weight: 700;
      text-align: center;

      -webkit-transition: margin 0.3s ease-out;
      -moz-transition: margin 0.3s ease-out;
      -o-transition: margin 0.3s ease-out;

      &:hover {
        background-color: rgba(42, 161, 149, 1);
        @media (min-width: $screen-sm-max) {
          margin-top: 10px;
        }
        cursor:pointer;
      }
    }
    #subscribe-email-modal {
      text-align: center;
      color: #484848;

      .modal-dialog {
        @media (max-width: $screen-sm-max) {
          width: auto;
          margin-top: 30%;
        }
        @media (min-width: $screen-sm-max) {
          width: 500px;
        }
        .modal-content {
          background-color: rgba(179, 132, 255, 1);
          border-radius: 0px;
        }
        background-color: rgba(179, 132, 255, 1);
        margin-top: 15%;
      }

      .modal-body {
        display: inline-block;
        padding: 5px;
        width: 100%;
        height: 275px;
        .email-guide {
          margin-top: 82px;
          color: rgba(255, 255, 255, 1);
          font-size: 30px;
          text-align: center;
          font-weight: bold;
          text-align: center;
          @media (max-width: $screen-sm-max) {
            line-height: 28px;
          }
        }
        .close {
          font-size: 40px;
        }
        .email-input {
          margin-top: 18px;
          @media (max-width: $screen-sm-max) {
            text-align: center;
          }
          label {
            margin-right: 10px;
            color: rgba(255, 255, 255, 1);
          }
          input {
            width: 200px;
            color: black;
            display: inline-block;
          }
          button {
            @media (max-width: $screen-xs-max) {
              margin-top: 5px;
            }
            display: inline-block;
          }
        }
      }

    }
  }
}
