.blocsapp-device-imac {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: block;
  width: 100%;
  height: auto;
  padding: 4% 8.5% 23.7%;
  background-image: url('apple-imac.png');
  img {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
}

.paltform-detail {
  h3 {
    font-family: $font_0;
    font-weight: 800;
  }
  p {
    font-family: $font_0;
    font-weight: 400;
    line-height: 24px;
  }
}

.device-bloc-icon {
  margin-top: 10px;
  margin-bottom: 20px;
  max-width: 80px;
  max-height: 80px;
}
