.page-products {
  section.about {
    background-color: rgba(123, 95, 168, 1);
    .title {
      padding: 140px;
      font-size: 50px;
      font-weight: 100;
      color: white;
    }
  }
  section.list {
    background-color: white;
    margin-bottom: 130px;
    .list-title {
      text-align: center;
      .main-title {
        margin-top: 45px;
        margin-bottom: 10.8px;
        font-size: 20px;
        font-weight: bold;
        color: rgba(0, 0, 0, 1);
        letter-spacing: -0.07em;
      }
      .sub-title {
        margin-bottom: 43px;
        font-size: 16px;
        font-weight: 300;
        color: rgba(0, 0, 0, 1);
        line-height: 30px;
        letter-spacing: -0.07em;
      }
    }
    .product-title {
      margin-top: 18px;
      margin-bottom: 40px;
      font-size: 22px;
      font-weight: bold;
      color: rgba(0, 0, 0, 1);
      letter-spacing: -0.07em;
      text-align: center;
    }
    .product-price {
      font-size: 16px;
      font-weight: 300;
      color: rgba(0, 0, 0, 1);
      letter-spacing: -0.07em;
      margin-bottom: 15px;
      text-align: center;
    }
    .img-responsive {
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 200px;
    }
  }
}
.product {
  .img-product {
    height: 300px;
    width: 100%;
    margin-bottom: 22px;
    background-size: cover;
    background-position: center;
  }
  .product-intro {
    max-width: 950px;
    margin: 36px auto 35px auto;
    // margin-top: 36px;
    // margin-bottom: 35px;
    border-bottom: 1px solid rgb(229, 229, 229);
  }
  .product-description {
    max-width: 700px;
    margin: 0 auto;
  }
  .keyvisual {
    padding: 0px;
  }
  .information {
    height: 300px;
    padding-left: 17px;
    @media (max-width: $screen-xs-max) {
      height: 210px;
    }
  }
  .product-title {
    font-size: 22px;
  }
  .product-price {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 11px;
  }
  .product-subtitle {
    font-size: 18px;
    font-weight: 300;
  }
  .purchase-topbtn {
    height: 50px;
    width: 200px;
    background-color: rgba(240, 91, 102, 1);
    font-size: 18px;
    font-weight: bold;
    color: white;
    vertical-align: middle;
    padding: 11px 11px;
    margin: 0px;
    position: absolute;
    bottom: 0%;
    @media (max-width: $screen-xs-max) {
      bottom: 5%;
    }
  }
  // .share-btn {
  //   height: 50px;
  //   width: 75px;
  //   background-color: rgba(236, 236, 236, 1);
  // }
  .purchase-bottombtn {
    height: 50px;
    width: 200px;
    background-color: rgba(240, 91, 102, 1);
    font-size: 18px;
    font-weight: bold;
    color: white;
    vertical-align: middle;
    padding: 11px 11px;
    margin-top: 17px;
    margin-bottom: 38px;
  }

  .product-description {
    text-align: center;
  }
  .first-content, .last-content {
    margin-bottom: 18px;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
  }
  .content {
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
  }
  .vertical-visual {
    width: 450px;
    background-size: cover;
    display:block;
    margin:18px auto;
  }
  .horizontal-visual {
    width: 700px;
    background-size: cover;
    margin:18px auto;
  }
  .content-link {
    text-decoration: underline;
  }
}
section.showcase{
  padding: 100px 80px;
  background-color: #7b5fa8;
  color: white;
  h1{
    small{
      font-weight: 100;
      color: #c2b3da;
      line-height: 70px;
      border-bottom: 1px solid #c2b3da;
      font-size: 24px;
      letter-spacing: 0;
    }
    font-weight: 100;
    font-size: 50px;
    font-family: 'Apple SD Gothic Neo';
    letter-spacing: -0.07em;
  }
  p.desc{
    padding: 20px 0px;
    font-size: 16px;
    font-weight: 200;
    line-height: 24px;
  }
  p.comment{

  }
}
