.page-products {
  section.about {
    background-color: rgba(123, 95, 168, 1);
    .title {
      padding: 140px;
      font-size: 50px;
      font-weight: 100;
      color: white;
    }
  }

  // .about {
  //   background-color: rgba(123, 95, 168, 1);
  //   height: 350px;
  //   overflow: auto;
  //   .about-title {
  //     color: white;
  //     font-size: 3rem;
  //     margin: 10rem;
  //   }
  // }
  // .list {
  //   .list-title {
  //     text-align: center;
  //     font-size: 20px;
  //     font-weight: bold;
  //     color: rgba(0, 0, 0, 1);
  //     margin: 30px 0 10px 0;
  //   }
  //   .list-subtitle {
  //     font-size: 16px;
  //     font-weight: 300;
  //     color: rgba(0, 0, 0, 1);
  //     text-align: center;
  //     letter-spacing: -0.07em;
  //     line-height: 30px;
  //   }
  // }
}
