/ %link{href: asset_url("favicons/favicon-32x32.png"), rel: "icon", sizes: "32x32", type: "image/png"}
/ %link{href: asset_url("favicons/favicon-16x16.png"), rel: "icon", sizes: "16x16", type: "image/png"}
/ %link{color: "#5bbad5", href: asset_url("favicons/safari-pinned-tab.svg"), rel: "mask-icon"}
/ %meta{content: "#ffffff", name: "theme-color"}
