%a{class: 'anchor', id: 'anchor-contact'}
#footer
  - unless current_page?(root_path)
    .bgc-footer.l-bloc
      .container.bloc-md.footer-container
        .row.voffset-clear-xs
          .col-sm-12.col-md-6.col-md-offset-3
            %h4.mg-lg.text-center
              %span 민주주의 리포트
            .more-govcraft-box
              %p.text-center.text
                빠띠의 민주주의 리포트를 매월 이메일로 받아보세요.
                %br
                .button-wrapper.text-center
                  %button{class: 'newsletter', 'data-toggle': "modal", 'data-target': "#subscribe-email-modal"}
                    %u<>구독하기
    #subscribe-email-modal.modal.fade{:role => "dialog", :tabindex => "-1"}
      .modal-dialog{:role => "document"}
        .modal-content
          .modal-body
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} &#215;
            %form{:action => "https://stibee.com/api/v1.0/lists/8eGeZJ_Ir8_jNilIvX8XV2a6BQ==/public/subscribers", :method => "POST"}
              %h5.email-guide
                빠띠의 민주주의 리포트를
                %br.visible-xs
                매월 여러분의 메일함에서 받아보세요.
              .email-input
                %label{:for => "email"} 이메일 주소
                %input#email{:name => "email", :type => "email", class: 'form-control'}/
              %button{class: 'btn btn-wire btn-lg device-bloc-button btn-sq', :type => "submit"} 구독신청
  .bloc.bgc-outer-space.d-bloc
    .container.bloc-md.footer-container
      .row.voffset-clear-xs
        .col-sm-12.col-md-6.col-md-offset-3
          .col-xs-12.mg-lg
            %h4.mg-lg.text-center
              민주주의 활동에 함께하기
            %p.text-center
              인터넷 시대를 살아가는 우리에게는
              %br
              더 나은 민주주의 시스템과 문화가 필요합니다.
              %br
              빠띠의 활동이 궁금하시거나,
              %br
              함께하고픈 활동이 있다면 언제나 연락주세요.
          .col-xs-3
            .text-center
              %a.social{:href => "https://www.facebook.com/PartiUnion/ ", :target => "_blank"}
                .social-text
                  %span.fa.fa-facebook.icon-md
          .col-xs-3
            .text-center
              %a.social{:href => "https://medium.com/parti-xyz-developers", :target => "_blank"}
                .social-text
                  %span.fa.fa-medium.icon-md
          .col-xs-3
            .text-center
              %a{:href => "mailto:help@parti.xyz"}
                .social-text
                  %span.fa.fa-envelope.icon-md
          .col-xs-3
            .text-center
              %a.social{:href => "https://github.com/parti-xyz", :target => "_blank"}
                .social-text
                  %span.fa.fa-github.icon-md
      .row.voffset-clear-xs
        .col-sm-12.col-md-6.col-md-offset-3
          .col-xs-12.mg-lg
            %div.info.mg-md.text-center
              유한회사 빠흐띠(parti LLC.)
              %br
              대표자: 권오현
              %br
              사업자 등록번호: 438-87-00225
              %br
              소재지: 서울특별시 성동구 왕십리로2길 20, 3층(성수동1가)
