%a{class: 'anchor', id: 'anchor-contact'}
#footer
  .bgc-footer.l-bloc
    .container.bloc-md.footer-container
      .row.voffset-clear-xs
        .col-sm-12.col-md-6.col-md-offset-3
          %h4.mg-md.text-center
            %span 뉴스레터
          .more-govcraft-box
            %p.text-center.text
              빠띠의 컨텐츠를 모아 뉴스레터로 발송해드립니다.
              %br
              %u<>뉴스레터 신청하기

  .bloc.bgc-outer-space.d-bloc
    .container.bloc-md.footer-container
      .row.voffset-clear-xs
        .col-sm-12.col-md-6.col-md-offset-3
          .col-xs-12.mg-lg
            %h4.mg-md.text-center
              민주주의 활동에 함께하기
            %p.text-center
              인터넷 시대를 살아가는 우리에게는
              %br
              더 나은 민주주의 시스템과 문화가 필요합니다.
              %br
              빠띠의 활동이 궁금하시거나,
              %br
              함께하고픈 활동이 있다면 언제나 연락주세요.
          .col-xs-3
            .text-center
              %a.social{:href => "https://www.facebook.com/PartiUnion/ ", :target => "_blank"}
                .social-text
                  페이스북
          .col-xs-3
            .text-center
              %a.social{:href => "https://medium.com/parti-xyz-developers", :target => "_blank"}
                .social-text
                  미디엄
          .col-xs-3
            .text-center
              %a{:href => "mailto:help@parti.xyz"}
                .social-text
                  메일
          .col-xs-3
            .text-center
              %a.social{:href => "https://github.com/parti-xyz", :target => "_blank"}
                .social-text
                  깃헙
