%a{class: 'anchor', id: 'anchor-contact'}

#bloc-54.bloc.bgc-outer-space.d-bloc
  .container.bloc-md
    .row.voffset-clear-xs
      .col-sm-12.col-md-6.col-md-offset-3
        .col-xs-3
          .text-center
            %a.social{:href => " https://twitter.com/parti_xyz ", :target => "_blank"}
              %span.fa.fa-twitter.icon-md
        .col-xs-3
          .text-center
            %a.social{:href => "https://www.facebook.com/PartiUnion/ ", :target => "_blank"}
              %span.fa.fa-facebook.icon-md
        .col-xs-3
          .text-center
            %a.social{:href => "https://github.com/parti-xyz", :target => "_blank"}
              %span.fa.fa-github.icon-md
        .col-xs-3
          .text-center
            %a{:href => "mailto:help@parti.xyz"}
              %span.fa.fa-envelope.icon-md
