.page-products
  %section.list
    .container
      .col-xs-12.col-md-8.col-md-offset-2
        .list-title
          .main-title
            민주적인 삶과 문화를 위한 굿즈
            %br/
          .sub-title
            빠띠가 만든 굿즈와 스토리를 만나보세요
            %br/
            수익은 민주주의 캠페인의 활동비로 후원됩니다.
    .container
      .row
        - @products.each do |product|
          .col-sm-4
            = link_to "/products/#{product.slug}" do
              .img-responsive{style: "background-image: url(#{asset_url('products/' + product.slug + '/primary.png')})"}
              .product-title= product.title
              -# .product-price
              -#   = number_to_currency(product.price, unit: "", precision: 0)
              -#   원
