%section.showcase
  .media
    .media-left{ style: "padding-top: 50px;" }
      %img{ src: "#{asset_url('box2.png')}", width:"300px"}
    .media-right
      %h1
        %small
          빠띠X한여전 38여성의날 캠페인
        %br
        큰일은 여자가!
      %p.desc
        3월 8일, 세계 여성의 날을 맞이해 ‘뭐든지 할 수 있는’ 당신을 위한
        %strong
          Anything Box
        를 준비했어요.
        %span.visible-xs-block
          %br
        %br
        Anything Box와 함께라면 사무실, 학교, 집, 카페 등 어디서든 나만의 여성의 날 캠페인을 할 수 있습니다.

      .button-wrapper
        = link_to '한정판 Anything Box 살펴보기', 'http://smartstore.naver.com/partiunion/products/2536391939', class: "btn btn-wire btn-lg device-bloc-button btn-sq wire-btn-white", target: "blank"
